.header {
	
	width: 100%;
	min-height: 100px; 
	background-color:#CCC; 
	padding: 20px; 
	margin: 0px 0px 10px 0px; 
	text-align:center; 
	font-weight: bold; 
	font-family: Verdana, Geneva, sans-serif;
	color: white; 
	border-bottom: 3px solid black;
	
	}

	
	
.sea_img {
	
	display: block;
	max-width: 100%;
	height: auto;
	
	}
	
	
	





